In [5]:
import pandas as pd
import numpy as np

In [6]:
?pd.read_csv

In [21]:
covid2020 = pd.read_csv("waqi-covid19-airqualitydata-2020.csv", skiprows = 4)
covid2020
covid2020["City"].str.contains("Madrid")
# the last line displays booleans
covid2020[covid2020["City"].str.contains("Madrid")].

              Date Country    City Specie  count   min   max  median  variance
610017  2020-09-02      ES  Madrid     o3     88   2.5  53.2    31.3   1257.14
610018  2020-10-13      ES  Madrid     o3     90   1.7  39.8    19.1    885.83
610019  2020-11-10      ES  Madrid     o3     90   0.5  22.0     4.5    452.15
610020  2020-03-21      ES  Madrid     o3     96  17.5  32.9    26.1    139.13
610021  2020-04-26      ES  Madrid     o3     93  13.0  37.0    26.2    512.67
...            ...     ...     ...    ...    ...   ...   ...     ...       ...
614555  2020-08-03      ES  Madrid    no2    206   0.5  24.7     4.6    216.22
614556  2020-07-26      ES  Madrid    no2    210   1.4  70.8     9.2   1395.77
614557  2020-08-23      ES  Madrid    no2    204   0.5  72.9     4.2   1095.60
614558  2020-10-08      ES  Madrid    no2    213   4.2  72.4    21.5   2302.88
614559  2021-01-18      ES  Madrid    no2    180  15.1  99.7    42.5   2378.29

[4543 rows x 9 columns]

In [24]:
covid2020.sort_values(covid2020["Date"], axis = 1)

KeyError: 0          2020-03-23
1          2020-08-17
2          2020-08-21
3          2020-04-27
4          2020-07-07
              ...
2292465    2020-01-23
2292466    2020-02-04
2292467    2020-02-05
2292468    2020-03-02
2292469    2020-03-15
Name: Date, Length: 2292470, dtype: object

In [ ]:
co2_emissions=cars.groupby(["Brand"])["CO2_grams_per_km"].mean().sort_values(ascending=False)
print(" C02 emission mean of every brand, form highest to lowest ",co2_emissions)

In [14]:
Covid2019 = pd.read_csv("waqi-covid19-airqualitydata-2019Q1.csv", skiprows = 3)
Covid2019

C:\Users\dgruh\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4,5,6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

                                                             # Data-Set Generated on 2020-04-13T01:04:43+01:00
Date       Country City      Specie count min   max   median                                          variance
2019-01-16 AE      Abu Dhabi pm10   24    86.0  99.0  97.0                                              179.40
2019-01-22 AE      Abu Dhabi pm10   24    51.0  57.0  55.0                                               23.75
2019-01-26 AE      Abu Dhabi pm10   24    136.0 173.0 160.0                                             941.96
2019-01-07 AE      Abu Dhabi pm10   24    60.0  91.0  72.0                                             1006.88
...                                                                                                        ...
2019-02-22 RS      Belgrade  o3     95    1.3   26.5  10.5                                              512.62
2019-03-15 RS      Belgrade  o3     84    1.2   30.2  16.8                                              606.07
2018-12-31 RS      Belgrade  o3     96    0.8   18.0  6.6                                               192.77
2019-03-11 RS      Belgrade  o3     96    8.9   30.5  19.1                                              278.89
2019-03-29 RS      Belgrade  o3     96    1.3   37.3  11.5                                              1131.9

[491162 rows x 1 columns]