# Project 2. Air quality

Insights on how to change air pollution

By Dirk Gruhne and Nuria Rius. Ironhack 2020

 ##  Nuria's notebook

### Load modules and csv file.

I am loading the csv file with values from 2020 from Madrid and Barcelona, modified with awk.
awk lines:
cat waqi-covid19-airqualitydata-2020.csv | awk -F"," '{ print $0}' |head -5|tail -1>header_short
cat waqi-covid19-airqualitydata-2020.csv | awk -F"," '{ if ($3=="Barcelona"){ print $0}}' >Barcelona_data.csv
cat waqi-covid19-airqualitydata-2020.csv | awk -F"," '{ if ($3=="Madrid"){ print $0}}' >Madrid_data.csv

Finally I concatenated the three files.

In [8]:
import pandas as pd
import numpy as np

In [9]:
#Dirk and Guillem:
#covid2020 = pd.read_csv("waqi-covid19-airqualitydata-2020.csv", skiprows = 4)
#covid2020
#covid2020["City"].str.contains("Madrid")
# the last line displays booleans
#covid2020[covid2020["City"].str.contains("Madrid")].

In [10]:
air_MB_2020=pd.read_csv("Madrid_Barcelona_data_shortheader.csv")

Exploring the data:

In [11]:
air_MB_2020.head()

         Date Country    City Specie  count   min   max  median  variance
0  2020-09-02      ES  Madrid     o3     88   2.5  53.2    31.3   1257.14
1  2020-10-13      ES  Madrid     o3     90   1.7  39.8    19.1    885.83
2  2020-11-10      ES  Madrid     o3     90   0.5  22.0     4.5    452.15
3  2020-03-21      ES  Madrid     o3     96  17.5  32.9    26.1    139.13
4  2020-04-26      ES  Madrid     o3     93  13.0  37.0    26.2    512.67

In [15]:
# there are 8695 entries
air_MB_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8695 entries, 0 to 8694
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      8695 non-null   object
 1   Country   8695 non-null   object
 2   City      8695 non-null   object
 3   Specie    8695 non-null   object
 4   count     8695 non-null   int64
 5   min       8695 non-null   float64
 6   max       8695 non-null   float64
 7   median    8695 non-null   float64
 8   variance  8695 non-null   float64
dtypes: float64(4), int64(1), object(4)
memory usage: 611.5+ KB

In [16]:
# there is no null data:

air_MB_2020.isna().sum()

Date        0
Country     0
City        0
Specie      0
count       0
min         0
max         0
median      0
variance    0
dtype: int64

In [12]:
air_MB_2020["Specie"].unique()
#there are recordings for 14 aspects

array(['o3', 'pm25', 'wind-speed', 'dew', 'temperature', 'pm10',
       'humidity', 'wind speed', 'so2', 'pressure', 'wind-gust', 'co',
       'wind gust', 'no2'], dtype=object)

In [17]:
# Out of the 14, 6 are pollutants:
pollutants=['o3', 'pm25', 'pm10','so2' 'co','no2']
# and 8 are weather conditions (with (wind gust and wind-gust)  (wind-speed and wind speed )

weather_cond=['wind-speed','dew', 'temperature','humidity', 'wind speed', 'pressure', 'wind-gust', 'wind gust']

change repeated "Species" to the hyphenated version:

In [20]:

#change both repeats to the hyphenated version
air_MB_2020.loc[air_MB_2020["Specie"].str.contains("wind gust"),["Specie"]]="wind-gust"
air_MB_2020.loc[air_MB_2020["Specie"].str.contains("wind speed"),["Specie"]]="wind-speed"

In [21]:
air_MB_2020["Specie"].unique()

array(['o3', 'pm25', 'wind-speed', 'dew', 'temperature', 'pm10',
       'humidity', 'so2', 'pressure', 'wind-gust', 'co', 'no2'],
      dtype=object)

In [22]:
#Now there are 12 different values for "Specie"
#6 are pollutants:
pollutants=['o3', 'pm25', 'pm10','so2' 'co','no2']
# and 6 are weather conditions (with (wind gust and wind-gust)  (wind-speed and wind speed )

weather_cond=['wind-speed','dew', 'temperature','humidity', 'pressure', 'wind-gust']

count values for Barcelona and for Madrid

In [26]:
air_MB_2020.groupby("City").aggregate({"count":"sum"})

            count
City
Barcelona  967302
Madrid     668407

The number of counts for differnet pollutants is highly variable. so2 has the lowest number of records

In [27]:
air_MB_2020.groupby("Specie").aggregate({"count":"sum"})

              count
Specie
co            68673
dew           30762
humidity     198156
no2          204214
o3           147978
pm10         161421
pm25          76829
pressure     198202
so2           52343
temperature  198418
wind-gust    129410
wind-speed   169303

In [28]:
#Extract the months from the Date column and create another column:
#First, display
#pandas.DatetimeIndex(data=None, freq=<object object>, tz=None, normalize=False, closed=None, ambiguous='raise', dayfirst=False, yearfirst=False, dtype=None, copy=False, name=None)
pd.DatetimeIndex(air_MB_2020['Date']).month

Int64Index([ 9, 10, 11,  3,  4,  8, 12,  1,  5,  7,
            ...
             7, 11,  1,  4,  5,  6,  9, 11, 12,  4],
           dtype='int64', name='Date', length=8695)

In [29]:
#Second, modify df:
#extract the months from the Date column and create another column:
air_MB_2020['month'] = pd.DatetimeIndex(air_MB_2020['Date']).month

In [32]:
#show new column "month"
air_MB_2020.head()

,Date,Country,City,Specie,count,min,max,median,variance,month
0,2020-09-02,ES,Madrid,o3,88,2.5,53.2,31.3,1257.14,9
1,2020-10-13,ES,Madrid,o3,90,1.7,39.8,19.1,885.83,10
2,2020-11-10,ES,Madrid,o3,90,0.5,22.0,4.5,452.15,11
3,2020-03-21,ES,Madrid,o3,96,17.5,32.9,26.1,139.13,3
4,2020-04-26,ES,Madrid,o3,93,13.0,37.0,26.2,512.67,4

In [31]:
#Except for February we have a similar amount of counts (Dirk, each count is an station measure?)
air_MB_2020.groupby("month").aggregate({"count":"sum"})

        count
month
1      214471
2       88858
3      133510
4      130068
5      134578
6      129832
7      135110
8      135589
9      129164
10     136534
11     131120
12     136875